<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title</title>   
        <link rel="icon" href="~/Content/favicon.ico" />
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
        <link rel="stylesheet" href="~/bower_components/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/bower_components/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
        <link rel="stylesheet" href="~/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" />
        <link rel="stylesheet" href="~/bower_components/fullcalendar/dist/fullcalendar.min.css" />
        <link rel="stylesheet" href="~/Content/flash-messages.css" />
        <link rel="stylesheet" href="~/bower_components/bootstrap-dropmenu/dist/stylesheets/bootstrap-dropmenu.min.css" />
        <link rel="stylesheet" href="~/bower_components/bootstrap-notifications/dist/stylesheets/bootstrap-notifications.min.css" />
        <link rel="stylesheet" href="~/Content/Site.css" />



    </head>
    <body>
        <header class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="@Url.Action("Index","Home")" class="navbar-brand">Gestor de Férias</a>
                    &nbsp; &nbsp; &nbsp;
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li><a href="@Url.Action("Index", "Home")">Página Inicial</a></li>
                        <li><a href="@Url.Action("Index", "User")">Painel de Utilizadores</a></li>
                        <li><a href="@Url.Action("Index", "Role")">Painel de Funções</a></li>
                        <li class="dropdown">
                            <a href="@Url.Action("Index", "Marcacoes")" class="dropdown-toggle" data-toggle="dropdown" data-trigger="hover" role="button" aria-haspopup="false" aria-expanded="false">Marcações <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Index", "Marcacoes")">Índice</a></li>
                                <li><a href="@Url.Action("Overview", "Marcacoes")">Calendário</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="@Url.Action("Create", "Marcacoes")"><i class="fa fa-bookmark-o" aria-hidden="true"></i><i class="fa fa-plus" aria-hidden="true" style="font-size: 0.3em;"></i>&nbsp;Criar Marcação</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" id="navbar-right">
                        @Html.Action("Index", "NotificationsPartial")
                        @Html.Partial("_LoginPartial")
                    </ul>
                </div>
            </div>
        </header>
        
        <div id="page-content-wrapper" style="padding: 0 0 0 0">
            <div class="container body-content" style="width: 100%; padding: 0 0 0 0">
                @RenderBody()


                <footer style="clear:both">
                    <hr />
                    <p align="center">@DateTime.Now.Year - Pedro G.</p>
                </footer>
            </div>
        </div>
        
        <script src="~/bower_components/jquery/dist/jquery.js"></script>
        <script src="~/bower_components/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/bower_components/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/bower_components/jquery-validation/dist/jquery.validate.date.js"></script>
        <script src="~/bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/bower_components/respond/dest/respond.src.js"></script>
        <script src="~/bower_components/moment/min/moment-with-locales.min.js"></script>
        <script src="~/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
        <script src="~/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
        <script src="~/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
        <script src="~/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
        <script src="~/bower_components/fullcalendar/dist/lang/pt.js"></script>
         
        <script type="text/javascript">
            $(document).ready(function () {
                $('.divs_Datas').datetimepicker({
                    format: 'L',
                    locale: 'pt',
                    useCurrent: false
                }); //inicializa o datetimepicker

                emptynotif(); //verificação inicial se existem notificações

                $(document).on('click', '.dropdown-container', function (e) {
                    e.stopPropagation();
                }); //previne o dropdown de fechar ao clicar

                $("#markall").on("mouseover", function () {
                    MouseOverMarkAll();
                });
                $("#markalltext").on("mouseout", function () {
                    MouseOutMarkAll();
                });
                //$(".mark-as-read").click(function (e) {
                //    console.log("asd");
                //    $("#dropdown").remove();
                //    $.ajax({
                //        url: '/NotificationsPartial/MarkAsRead?MarcId=' + $(this).attr("id"),
                //        success: function () {
                //            $.ajax({
                //                url: '/NotificationsPartial',
                //                success: function (data) {
                //                    $("#navbar-right").prepend(data);
                //                    $("#dropdown").addClass("open");
                //                }
                //            });
                //        }
                //    })
                //});
            });

            function MarkAsRead(id) {
                $.ajax({
                    url: '/NotificationsPartial/MarkAsRead?MarcId=' + id,
                    success: function () {
                        $("#notification" + id).hide(100);
                        $("#notification-count").attr("data-count", ($("#notification-count").attr("data-count") - 1));
                        $("#notification-title").text("Notificações (" + $("#notification-count").attr("data-count") + ")");
                        emptynotif();
                    }
                })
            }; //função que controla o mark as read e o request ajax

            function MarkAllAsRead() {
                $.ajax({
                    url: '/NotificationsPartial/MarkAllAsRead',
                    success: function () {
                        $(".notification").hide(100);
                        $("#notification-count").attr("data-count", "0");
                        $("#notification-title").text("Notificações (0)");
                        $("#markall").hide();
                        $("#markalltext").hide();
                        emptynotif();
                    }
                })
            };

            function emptynotif() {
                if ($("#notification-count").attr("data-count") == 0) {
                    $("#notification-list").append('<li class="notification"> <div style="text-align: center"> <i class="fa fa-bell-o fa-4x" style="text-align: center; line-height: 1.5em;"></i><br/> <strong style="text-align:center">Sem notificações a mostrar!</strong> </div></li>');
                    $("#markall").hide(100);
                    $("#markalltext").hide(100);
                }
            } //faz append a uma row no dropdown de notificações caso este esteja vazio

            function MouseOverMarkAll() {
                $('#markalltext').show(100);
                $('#markall').hide(100);
            }

            function MouseOutMarkAll() {
                $('#markalltext').hide(100);
                $("#markall").show(100);
            }
        </script>

        @RenderSection("scripts", required: false)
    </body>
</html>