<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title</title>   
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
        <link rel="stylesheet" href="~/bower_components/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/bower_components/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
        <link rel="stylesheet" href="~/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" />
        <link rel="stylesheet" href="~/bower_components/fullcalendar/dist/fullcalendar.min.css" />
        <link rel="stylesheet" href="~/Content/flash-messages.css" />
        
        <link rel="stylesheet" href="~/Content/Site.css" />
    </head>
    <body>
        <header class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="@Url.Action("Index","Home")" class="navbar-brand">Gestor de Férias</a>
                    &nbsp; &nbsp; &nbsp;
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li><a href="@Url.Action("Index", "Home")">Página Inicial</a></li>
                        <li><a href="@Url.Action("Index", "User")">Painel de Utilizadores</a></li>
                        <li><a href="@Url.Action("Index", "Role")">Painel de Funções</a></li>
                        <li class="dropdown">
                            <a href="@Url.Action("Index", "Marcacoes")" class="dropdown-toggle" data-toggle="dropdown" data-trigger="hover" role="button" aria-haspopup="false" aria-expanded="false">Marcações <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Index", "Marcacoes")">Índice</a></li>
                                <li><a href="@Url.Action("Overview", "Marcacoes")">Calendário</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="@Url.Action("Create", "Marcacoes")"><i class="fa fa-bookmark-o" aria-hidden="true"></i><i class="fa fa-plus" aria-hidden="true" style="font-size: 0.3em;"></i>&nbsp;Criar Marcação</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        @Html.Partial("_LoginPartial")
                    </ul>
                </div>
            </div>
        </header>
        
        <div id="page-content-wrapper" style="padding: 0 0 0 0">
            <div class="container body-content" style="width: 100%; padding: 0 0 0 0">
                @RenderBody()


                <footer>
                    <hr />
                    <p align="center">@DateTime.Now.Year - Pedro G.</p>
                </footer>
            </div>
        </div>
        
        <script src="~/bower_components/jquery/dist/jquery.js"></script>
        <script src="~/bower_components/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/bower_components/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/bower_components/jquery-validation/dist/jquery.validate.date.js"></script>
        <script src="~/bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/bower_components/respond/dest/respond.src.js"></script>
        <script src="~/bower_components/moment/min/moment-with-locales.min.js"></script>
        <script src="~/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
        <script src="~/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
        <script src="~/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
        <script src="~/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
        <script src="~/bower_components/fullcalendar/dist/lang/pt.js"></script>

        <script type="text/javascript">

            $(function () {
                $('.divs_Datas').datetimepicker({
                    format: 'L',
                    locale: 'pt',
                });
            });

        </script>

        @RenderSection("scripts", required: false)
    </body>
</html>
