@using emp_ferias.Models
@using MvcFlashMessages
@model LoginViewModel

@{
    Layout = null;
}
<title>Login - Gestor de Férias</title>

<link rel="stylesheet" href="~/bower_components/font-awesome/css/font-awesome.css" /> <!--FONT AWESOME-->
<link rel="stylesheet" href="~/Content/flash-messages.css" />
<link rel="stylesheet" href="~/Content/Site.css" />
<style>

    body {
      font-family: "Roboto", sans-serif;
      -webkit-font-smoothing: antialiased; 
      background: #efefef;  
}
</style>

 <!-- @*
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()   
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        
                        
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        
                    </div>
                </div>
                <p>
                    @Html.ActionLink("Register as a new user", "Register")
                </p>
            }
        </section>
    </div>
</div>*@-->
<div class="login-page">

    <div class="form">
        <div class="icon-bg-small"><h1 style="color: #6f5499"><i class="fa fa-paperclip fa-2x" aria-hidden="true"></i></h1></div>

            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login-form", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.RenderFlash()

                <div class="form-group">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "username" })
                </div>
                <div class="form-group">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "password" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <input type="submit" value="log in" class="login-btn" />
                </div>
            }

        
    </div>
</div>
