@using emp_ferias.lib.Classes
@using MvcFlashMessages
@model List<emp_ferias.Models.HomeViewModel>

@{
    ViewBag.Title = "Página Inicial";
}

<div class="jumbotron" style="background-image: linear-gradient(315deg,#271b38,#563d7c,#7952b3)">
    <div class="container-fluid body-content">
        <div class="icon-bg"><span class="fa fa-paperclip" aria-hidden="true"></span></div>
    </div>
</div>


<div class="content" style="width: 70%; height: 100%;">
    @Html.RenderFlash()
    <div class="col-md-8">
        <h2 id="welcome-message">Bem-vindo, @User.Identity.Name! </h2>
        <table class="table table-hover marcacoes-table">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Duração
                    </th>
                    <th>
                        Razão
                    </th>
                    <th>
                        Estado <i class="fa fa-info" aria-hidden="true" tabindex="0" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Passe por cima de cada um dos estados das marcações para mais informações"></i>
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="bg-info">
                        <td>
                            @Html.DisplayFor(modelItem => item.id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataInicio) – @Html.DisplayFor(modelItem => item.DataFim)
                            <button style="outline: none" type="button" class="btn-simple" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="Total:
                            @{
                                var length = (item.DataFim - item.DataInicio).Days +1;
                                string lengthstring;
                                if (length == 1)
                                {
                                    lengthstring = length + " dia";
                                }
                                else
                                {
                                    lengthstring = length + " dias";
                                }
                                } @lengthstring">
                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                            </button>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Motivo)
                        </td>
                        <td>
                            <span class="label @(item.Status == Status.EmProgresso ? "label-success" : item.Status == Status.Aprovado ? "label-primary" : "label-default" )">@(item.Status == Status.EmProgresso ? Html.Label("Em Progresso") : Html.DisplayFor(x => item.Status))</span>
                        </td>
                    </tr>
                }
                @if (!Model.Any())
                {
                    <tr class="bg-info">
                        <td colspan="4">Ainda não tem marcações. @Html.ActionLink("Criar uma nova.", "Create", "Marcacoes")</td>
                    </tr>
                }   
            </tbody>
        </table>

    </div>
    <div class="col-md-4">
        <div id="calendar"></div>
    </div>
    <br />
    <div style="height: 400px;"></div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#calendar').fullCalendar({
                eventStartEditable: false,
                eventLimit: true,
                height: "auto",
                firstDay: 0,
                events: "/Home/GetMarcacoes/"
            });

            $('[data-toggle="popover"]').popover();
        });
    </script>
}