@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole
@{
    ViewBag.Title = "Delete Role";
}

<style>
    #details-left {
        text-align: right;
        font-weight: bold;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    #details-right {
        text-align: left;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    #edit-left {
        text-align: right;
        font-weight: bold;
        padding-top: 1em;
        padding-bottom: 0.5em;
    }

    #submit-btn {
        text-align: right;
        margin-right: 1em;
    }

    .form-control {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    .btn {
        width: 10em;
        height: 3em;
        font-size: 1.1em;
        margin-top: 0em;
        margin-bottom: 0.2em;
    }
</style>

<div class="jumbotron" style="border-radius: 0 0; padding: 0 0 0 0">
    <div class="container-fluid body-content" style="width: 70%">
        <h1 id="icon"><i class="fa fa-file" aria-hidden="true"></i><i class="fa fa-times" aria-hidden="true" style="font-size: 0.3em;"></i>&nbsp;Delete Role</h1>
        <p class="lead container body-content jumbotron-description"></p>
    </div>
</div>

<div class="content">

    <ol class="breadcrumb">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Role Panel", "Index", "Role")</li>
        <li class="active">Delete ID: @Html.DisplayFor(model => model.Id)</li>
    </ol>


    @Html.ValidationSummary("", new { @class = "text-danger" })

    @using (Html.BeginForm("Delete", "Role", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()



        <div class="row">

            <!--DETAILS-->
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Details</h2>
                    </div>
                    <div class="panel-body">

                        <!--NAME-->
                        <div id="details-left" class="col-sm-6">
                            Name:
                        </div>
                        <div id="details-right" class="col-sm-6">
                            @Html.DisplayFor(model => model.Name)
                        </div>
                        <br />
                        <!--ID-->
                        <div id="details-left" class="col-sm-6">
                            ID:
                        </div>
                        <div id="details-right" class="col-sm-6">
                            @Html.DisplayFor(model => model.Id)
                        </div>
                        <br /><br />
                    </div>
                </div>
            </div>

            <!--SPACER-->
            <div class="col-sm-1"></div>

            <!--EDIT-->
            <div class="col-sm-7">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Delete</h2>
                    </div>
                    <div class="panel-body">
                        <fieldset class="form-horizontal">
                            <!--Name-->
                            <div id="edit-left" class="col-sm-4">
                                Are you sure you want to delete this role? This cannot be undone.
                            </div>
                            <div class="col-sm-8">
                            </div>
                            <br />

                            <div id="submit-btn">
                                <input type="submit" value="Delete Role" class="btn btn-danger" />
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

