@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole
@{   
  ViewBag.Title = "Edit Role";
}

<style>
    #details-left {
        text-align: right;
        font-weight: bold;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    #details-right {
        text-align: left;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    #edit-left {
        text-align: right;
        font-weight: bold;
        padding-top: 1em;
        padding-bottom: 0.5em;
    }

    #submit-btn {
        text-align: right;
        margin-right: 1em;
    }

    .form-control {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    .btn {
        width: 7em;
        font-size: 1.1em;
        margin-top: 0.5em;
        margin-bottom: 0.2em;
    }
</style>

<br />

<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Role Panel", "Index", "Role")</li>
    <li class="active">ID: @Html.DisplayFor(model => model.Id)</li>
</ol>


@Html.ValidationSummary("", new { @class = "text-danger" })

@using (Html.BeginForm("Edit", "Role", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()


    <div class="row">

        <!--DETAILS-->
        <div class="col-xs-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Details</h2>
                </div>
                <div class="panel-body">

                    <!--NAME-->
                    <div id="details-left" class="col-xs-6">
                        Name:
                    </div>
                    <div id="details-right" class="col-xs-6">
                        @Html.DisplayFor(model => model.Name)
                    </div>
                    <br />
                    <!--ID-->
                    <div id="details-left" class="col-xs-6">
                        ID:
                    </div>
                    <div id="details-right" class="col-xs-6">
                        @Html.DisplayFor(model => model.Id)
                    </div>
                    <br />
                    <br />
                </div>
            </div>
        </div>

        <!--SPACER-->
        <div class="col-xs-1"></div>

        <!--EDIT-->
        <div class="col-xs-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Edit</h2>
                </div>
                <div class="panel-body">
                    <fieldset class="form-horizontal">
                        <!--Name-->
                        <div id="edit-left" class="col-xs-2">
                            Name:
                        </div>
                        <div class="col-xs-10">
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                        </div>
                        <br />

                        <div id="submit-btn">
                            <input type="submit" value="Edit Role" class="btn btn-default" />
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
}

