@using MvcFlashMessages
@model emp_ferias.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<div class="jumbotron">
    <div class="container-fluid body-content" style="width: 70%">
        <h1 id="icon">Conta</h1>
        <p class="lead container body-content jumbotron-description"></p>
    </div>
</div>

<div class="content">
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Página Inicial", "Index", "Home")</li>
        <li>@Html.ActionLink("Conta", "Index", "Manage")</li>
        <li class="active">Alterar Password</li>
    </ol>
    <div class="col-sm-12" style="padding: 0">
        <div class="panel panel-default">
            <div class="panel-body">
                Alterar Password
            </div>
        </div>
    </div>

    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.RenderFlash()
        <div class="form-group">
            @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 col-md-offset-3 control-label" })
            <div class="col-md-4">
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 col-md-offset-3 control-label" })
            <div class="col-md-4">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 col-md-offset-3 control-label" })
            <div class="col-md-4">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-5 col-md-10">
                <input type="submit" value="Change password" class="btn btn-default" />
            </div>
        </div>
    }
</div>