@using MvcFlashMessages
@model List<emp_ferias.Models.IndexViewModel>
@{
    ViewBag.Title = "Conta";
}

<div class="jumbotron">
    <div class="container-fluid body-content" style="width: 70%">
        <h1 id="icon">Conta</h1>
        <p class="lead container body-content jumbotron-description"></p>
    </div>
</div>

<div class="content">

    <ol class="breadcrumb">
        <li>@Html.ActionLink("Página Inicial", "Index", "Home")</li>
        <li class="active">Conta</li>
    </ol>
    @Html.RenderFlash()
    <div class="col-xs-6">dados aqui com informaçoes e graficos sobre as marcações do utilizador, etc</div>
    <div class="col-xs-6">
        <div class="col-xs-12" style="padding: 0">
            <div class="panel panel-default">
                <div class="panel-body">
                    Marcações
                </div>
            </div>
        </div>
        <table class="table table-hover marcacoes-table" id="table1">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Duração
                    </th>
                    <th>
                        Razão
                    </th>
                    <th>
                        Estado <i class="fa fa-info" aria-hidden="true" tabindex="0" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Passe por cima de cada um dos estados das marcações para mais informações"></i>
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="bg-info">
                        <td>
                            @Html.DisplayFor(modelItem => item.id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataInicio) – @Html.DisplayFor(modelItem => item.DataFim)
                            <button style="outline: none" type="button" class="btn-simple" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="Total:
                                @{
                                    var length = (item.DataFim - item.DataInicio).Days +1;
                                    string lengthstring;
                                    if (length == 1)
                                    {
                                        lengthstring = length + " dia";
                                    }
                                    else
                                    {
                                        lengthstring = length + " dias";
                                    }
                                    } @lengthstring">
                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                            </button>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Motivo)
                        </td>
                        <td>
                            @{
                                if (item.Aprovado)
                                {
                                    if (item.DataInicio.Date <= DateTime.Today.Date)
                                    {
                                        if (item.DataFim.Date < DateTime.Today.Date)
                                        {
                                            <span class="label label-default" tabindex="0" data-toggle="popover" data-placement="top" data-trigger="hover" data-html="true" data-content="<b>Aprovado por</b> @item.UserNameAprovacao<br><br>Acabou à @{var ii = DateTime.Today - item.DataFim;} <text>@ii.Days</text> dia(s).">Finalizado</span>
                                        }
                                        else
                                        {
                                            <span class="label label-primary" tabindex="0" data-toggle="popover" data-placement="top" data-trigger="hover" data-html="true" data-content="<b>Aprovado por</b> @item.UserNameAprovacao<br><br>@{var ii = item.DataFim - DateTime.Today;} <text>@ii.Days</text> dia(s) restante(s).">Em Progresso</span>
                                            }
                                        }
                                    else
                                    {
                                        <span class="label label-info" tabindex="0" data-toggle="popover" data-placement="top" data-trigger="hover" data-html="true" data-content="<b>Aprovado por</b> @item.UserNameAprovacao<br><br>Começa em @{var ii = item.DataInicio - DateTime.Today;} <text>@ii.Days</text> dia(s).">Aprovado</span>
                                    }
                                }
                                else
                                {
                                    <span class="label label-danger" tabindex="0" data-toggle="popover" data-placement="top" data-trigger="hover" data-html="true" data-content="<b>Rejeitado por</b> @item.UserNameAprovacao<br><br><b>Reason: </b>@item.RazaoAprovacao">Rejeitado</span>
                                }
                            }
                        </td>
                    </tr>
                }
                @if (!Model.Any())
                {
                    <tr class="bg-info">
                        <td colspan="4">Ainda não tem marcações. @Html.ActionLink("Criar uma nova.", "Create", "Marcacoes")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            @Html.ActionLink("Change your password", "ChangePassword")
        </dd>
    </dl>
</div>

@section scripts {
    <script>
        $('[data-toggle="popover"]').popover();

        $('#table1').DataTable({
            "aoColumns": [
                null,
                { "bSortable": false },
                null,
                null
            ],
            language: {
                "sProcessing": "A processar...",
                "sLengthMenu": "Mostrar _MENU_ registos",
                "sZeroRecords": "Não foram encontrados resultados",
                "sInfo": "Mostrando _START_ a _END_ de _TOTAL_ registos",
                "sInfoEmpty": "Mostrando 0 a 0 de 0 registos",
                "sInfoFiltered": "(filtrado de _MAX_ registos no total)",
                "sInfoPostFix": "",
                "sSearch": "Procurar:",
                "sUrl": "",
                "oPaginate": {
                    "sFirst": "Primeiro",
                    "sPrevious": "Anterior",
                    "sNext": "Seguinte",
                    "sLast": "Último"
                }
            }
        })
    </script>
}
