@model emp_ferias.Models.UserModalViewModel
<p>@Model.TotalMarcacoes</p>
<p>@Model.TotalAprovadas</p>
<p>@Model.TotalRejeitadas</p>
<p>@Model.TotalExpiradas</p>
<p>@Model.TotalFerias</p>
<p>@Model.TotalFeriasDiasUteis</p>
<p>@Model.FeriasAno</p>
<p>@Model.FeriasDiasUteisAno</p>

