@using MvcFlashMessages
@model emp_ferias.Models.EditUserViewModel
@{
    ViewBag.Title = "Editar Utilizador - Gestor de Férias";

    List<SelectListItem> Role = new List<SelectListItem>();

    if (Model.CurrentRole == "Administrador")
    {
        Role.Add(new SelectListItem { Text = "Administrador", Value = "Administrador", Selected = true });
    }
    else
    {
        Role.Add(new SelectListItem { Text = "Administrador", Value = "Administrador" });
    }
    if (Model.CurrentRole == "Moderador")
    {
        Role.Add(new SelectListItem { Text = "Moderador", Value = "Moderador", Selected = true });
    }
    else
    {
        Role.Add(new SelectListItem { Text = "Moderador", Value = "Moderador" });
    }
    if (Model.CurrentRole == "Utilizador")
    {
        Role.Add(new SelectListItem { Text = "Utilizador", Value = "Utilizador", Selected = true });
    }
    else
    {
        Role.Add(new SelectListItem { Text = "Utilizador", Value = "Utilizador" });
    }
}

<style>
    #details-left{
        text-align: right;
        font-weight: bold;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
    #details-right {
        text-align: left;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
    #edit-left {
        text-align: right;
        font-weight: bold;
        padding-top: 1em;
        padding-bottom:0.5em;
    }
    #submit-btn {
        text-align: right;
        margin-right: 1em;
    }
    .form-control {
        margin-top: 0.5em;
        margin-bottom:0.5em;
    }
    .btn-default {
        width: 6em;
        font-size: 1.1em;
        margin-top: 0.5em;
        margin-bottom: 0.2em;
    }
</style>

<div class="jumbotron" style="border-radius: 0 0; padding: 0 0 0 0">
    <div class="container-fluid body-content" style="width: 70%">
        <h1 id="icon">Utilizador <small id="MyTitleSmall"><span class="label label-info">@Model.CurrentUsername</span></small></h1>
        <p class="lead container body-content jumbotron-description"></p>
    </div>
</div>

<div class="content">
    
    <ol class="overflow breadcrumb">
        <li>@Html.ActionLink("Página Inicial", "Index", "Home")</li>
        <li>@Html.ActionLink("Utilizadores", "Index", "User")</li>
        <li class="active">Editar <strong>@Html.DisplayFor(model => model.CurrentUsername)</strong></li>
    </ol>

    <br />
    @Html.RenderFlash()

    @using (Html.BeginForm("Edit", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="row">

            <!--DETAILS-->
            <div class="col-md-5">
                <div class="panel panel-default" id="filterPanel">
                    <div class="panel-heading" id="filterPanel-header">
                        <h2 class="panel-title">Detalhes</h2>
                    </div>
                    <div class="panel-body bg-info @(Model.LoggedUser.RoleTests.IsAdmin ?  "height: 200px" : "height: 152px")">

                        <!--USERNAME-->
                        <div id="details-left" class="col-md-6">
                            Nome de Utilizador
                        </div>
                        <div id="details-right" class="col-md-6">
                            <code>@Model.CurrentUsername</code>
                        </div>
                        <br />

                        <!--EMAIL-->
                        <div id="details-left" class="col-md-6">
                            Email
                        </div>
                        <div id="details-right" class="col-md-6">
                            <code>@Model.CurrentEmail</code>
                        </div>

                        <!--ID-->
                        <div id="details-left" class="col-md-6">
                            ID
                        </div>
                        <div id="details-right" class="col-md-6">
                            <code>@Model.id</code>
                        </div>

                        <br />
                        <br />
                    </div>
                </div>
            </div>

            <!--EDIT-->
            <div class="col-md-7">
                <div class="panel panel-default" id="filterPanel">
                    <div class="panel-heading" id="filterPanel-header">
                        <h2 class="panel-title">Editar</h2>
                    </div>
                    <div class="panel-body bg-info">
                        <fieldset class="form-horizontal">
                            <!--USERNAME-->
                            <div id="edit-left" class="col-md-3">
                                Nome de Utilizador
                            </div>
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.NewUsername, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.NewUsername, "", new { @class = "text-danger"})
                            </div>
                            <br />

                            <!--EMAIL-->
                            <div id="edit-left" class="col-md-3">
                                Email
                            </div>
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.NewEmail, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.NewEmail, "", new { @class = "text-danger" })
                            </div>
                            <br />

                            @if (Model.LoggedUser.RoleTests.IsAdmin)
                            {
                              <!--ROLE-->
                                <div id="edit-left" class="col-md-3">
                                    Função
                                </div>
                                <div class="col-md-9">
                                    @Html.DropDownListFor(m => m.NewRole, Role, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.NewRole, "", new { @class = "text-danger" })
                                </div>
                                <br />
                            }
                            <div id="submit-btn">
                                <input type="submit" value="Editar" class="btn btn-round-primary"  style="margin-bottom: 5px;"/>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    }
    </div>