@model emp_ferias.Models.EditUserViewModel
@{
    ViewBag.Title = "Edit";
}

<style>
    #details-left{
        text-align: right;
        font-weight: bold;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
    #details-right {
        text-align: left;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
    #edit-left {
        text-align: right;
        font-weight: bold;
        padding-top: 1em;
        padding-bottom:0.5em;
    }
    #submit-btn {
        text-align: right;
        margin-right: 1em;
    }
    .form-control {
        margin-top: 0.5em;
        margin-bottom:0.5em;
    }
    .btn-default {
        width: 6em;
        font-size: 1.1em;
        margin-top: 0.5em;
        margin-bottom: 0.2em;
    }
</style>

<br />

<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("User Panel", "Index","User")</li>
    <li class="active">ID: @Html.DisplayFor(model => model.id)</li>
</ol>

<br />
@Html.ValidationSummary("", new { @class = "text-danger" })
<br />

@using (Html.BeginForm("Edit", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()


    <div class="row">

        <!--DETAILS-->
        <div class="col-xs-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Details</h2>
                </div>
                <div class="panel-body">

                    <!--USERNAME-->
                   <div id="details-left" class="col-xs-6">
                        Username:
                    </div>
                    <div id="details-right" class="col-xs-6">
                        @Model.CurrentUsername
                    </div>
                    <br />

                    <!--EMAIL-->
                    <div id="details-left" class="col-xs-6">
                        Email:
                    </div>
                    <div id="details-right" class="col-xs-6">
                         @Model.CurrentEmail
                    </div>

                    <!--ID-->
                    <div id="details-left" class="col-xs-6">
                        ID:
                    </div>
                    <div id="details-right" class="col-xs-6">
                        @Model.id
                    </div>

                    <br />
                    <br />
                </div>
            </div>
        </div>
        
        <!--SPACER-->
        <div class="col-xs-1"></div>

        <!--EDIT-->
        <div class="col-xs-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Edit</h2>
                </div>
                <div class="panel-body">
                    <fieldset class="form-horizontal">
                        <!--USERNAME-->
                        <div id="edit-left" class="col-xs-2">
                            Username:
                        </div>
                        <div class="col-xs-10">
                            @Html.TextBoxFor(m => m.NewUsername, new { @class = "form-control" })
                        </div>
                        <br />

                        <!--EMAIL-->
                        <div id="edit-left" class="col-xs-2">
                            Email:
                        </div>
                        <div class="col-xs-10">
                            @Html.TextBoxFor(m => m.NewEmail, new { @class = "form-control" })
                        </div>
                        <br />
                        <div id="submit-btn">
                            <input type="submit" value="Edit" class="btn btn-default" />
                        </div>
                     </fieldset>
                </div>
             </div>
        </div>
    </div>
}

