@model List<emp_ferias.Models.ApplicationUser>
@{
    ViewBag.Title = "User Panel";
}

<div class="jumbotron">
    <div class="container-fluid body-content">
        <h1 id="icon"><i class="fa fa-users" aria-hidden="true"></i>&nbsp;User Panel</h1>
        <p class="lead container body-content jumbotron-description"></p>
    </div>
</div>


<div class="content">
    <div class="col-md-10">
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="active">User Panel</li>
        </ol>
    </div>
    <div class="col-md-2">
        <button style="vertical-align: middle; float: right; font-size: 1em;" onclick="location.href='@Url.Action("Create", "User")';return false;" class="btn btn-default"><i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;Create User</button>
    </div>

    <table class="table table-hover" style="font-size:15px">
        <thead style="font-size:20px">
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.UserName
                    </td>
                    <td>
                        @item.Email
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
