@using MvcFlashMessages
@model emp_ferias.Models.IndexUserViewModel
@{
    ViewBag.Title = "Utilizadores - Gestor de Férias";
}

<div class="jumbotron">
    <div class="container-fluid body-content">
        <h1 id="icon">Utilizadores&nbsp;
        @if (Model.LoggedUser.RoleTests.IsAdmin)
            {
            <button class="btn-simple" style="font-size: 0.8em" onclick="location.href='@Url.Action("Create", "User")'; return false;"><i data-count="Admin" class="fa fa-user-plus notification-icon"></i></button>
        }
        </h1>
        <p class="lead container body-content jumbotron-description"></p>
    </div>
</div>


<div class="content">
        <ol class="overflow breadcrumb">
            <li>@Html.ActionLink("Página Inicial", "Index", "Home")</li>
            <li class="active">Utilizadores</li>
        </ol>
    
    @Html.RenderFlash()
    
    <br />
    <table class="table table-hover" id="usersTable">
        <thead>
            <tr>
                <th>Função</th>
                <th>Nome de Utilizador</th>
                <th>GUID</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.UserList)
            {
                <tr class="bg-info">
                    <td style="color: @(item.Role == "Administrador" ? "#2C93FF" : item.Role == "Moderador" ? "red" : "#777")">
                        <strong>@item.Role</strong>
                    </td>
                    <td>
                        @item.UserName
                    </td>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.Email
                    </td>
                    <td>
                        @((Model.LoggedUser.RoleTests.IsAdmin) || (Model.LoggedUser.RoleTests.IsMod && item.RoleTests.IsUser) ? Html.ActionLink("Editar", "Edit", new { id = item.Id }) : Html.Display(""))
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts {
    <script>
        $('#usersTable').DataTable({
            "aoColumns": [
                null,
                null,
                { "bSortable": false },
                { "bSortable": false },
                { "bSortable": false }
            ],
            language: {
                "sProcessing": "A processar...",
                "sLengthMenu": "Mostrar _MENU_ registos",
                "sZeroRecords": "Não foram encontrados resultados",
                "sInfo": "Mostrando _START_ a _END_ de _TOTAL_ registos",
                "sInfoEmpty": "Mostrando 0 a 0 de 0 registos",
                "sInfoFiltered": "(filtrado de _MAX_ registos no total)",
                "sInfoPostFix": "",
                "sSearch": "Procurar:",
                "sUrl": "",
                "oPaginate": {
                    "sFirst": "Primeiro",
                    "sPrevious": "Anterior",
                    "sNext": "Seguinte",
                    "sLast": "Último"
                }
            }
        })
    </script>        
}
